<div class="col-md-2">
      <!--Sidebar content-->

      <input id="favoritesFilter" placeholder="filter" ng-model="query">

</div>


<div class="mainDiv searchAndFavorites">
  <div class="list" ng-repeat="favorite in favorites | filter:query">
      <ion-item class="item item-thumbnail-left">
        <img class="favoriteImgs" src={{favorite.picurl}}>
        <h2>{{favorite.title}}</h2>
        <p>{{favorite.uploader}}</p>
        <div class="fandsButtonRow">
          <share-button url="{{ favorite.url  }}" picUrl= "{{ favorite.picurl }}"  uploader="{{ favorite.uploader }}" title="{{ favorite.title }}" trackId="{{ favorite.trackid }}"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></share-button>
          <delete favid="{{ favorite.id }}"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></delete>
          <play link="{{ favorite.url }}" artUrl="{{ favorite.picurl }}" uploader="{{ favorite.uploader }}" title="{{ favorite.title }}" trackId="{{ favorite.trackid }}" playlist= "favorites" id = "{{ favorite.id }}"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></play>
        </div>
      </ion-item>
  </div>
</div>



