<div class="mainFeedDiv">
  <h4 ng-hide="loaded">Loading...</h4>
  <div class="list feedDiv" ng-repeat="feedSong in feedSongs">

      <ion-item class="item item-thumbnail-left">


        <img class="feedImgs" src={{feedSong.picurl}}>
<!--         <div class="feedSongOverlay"> -->
        <div class="newSong" ng-hide="feedSong.isplayed">NEW</div>
        <span class="feedTitleAndUploader"> <h2>{{feedSong.title}}<br><span class="uploaderName">{{feedSong.uploader}}</span></h2></span>

        <p class="feedMessages">{{feedSong.messages}}</p>
        <p class="fromUsername"><span class="phoneHTML">-</span><span class="webHTML italicize"><i>from</i></span>&nbsp{{feedSong.username}}<br><span class="feedDate">{{feedSong.date | date : short}}</span></p>
        <div class="buttonRow">
          <share-button url="{{ feedSong.url }}" picUrl= "{{ feedSong.picurl }}"  uploader="{{ feedSong.uploader }}" title="{{ feedSong.title }}" trackId="{{ feedSong.trackid }}"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></share-button>
          <play link="{{ feedSong.url }}" artUrl="{{ feedSong.picurl }}" uploader="{{ feedSong.uploader }}" title="{{ feedSong.title }}" trackId="{{ feedSong.trackid }}" playlist= "songFeed" id= "{{ feedSong.id }}" ><span class="glyphicon glyphicon-play" aria-hidden="true"></span></play>
          <heart url="{{ feedSong.url }}" picUrl= "{{ feedSong.picurl }}"  uploader="{{ feedSong.uploader }}" title="{{ feedSong.title }}" trackId="{{ feedSong.trackid }}"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></heart>

        </div>
<!--       </div> -->
      </ion-item>
  </div>
</div>
