<ion-view title="TuneCoop" id="loginPage" hide-back-button="true" hide-nav-bar="true">
	<div id="frontOverlay">

    <div id="frontLogo">TuneCoop</div>
             <img id="frontSoundCloudImg" src="https://developers.soundcloud.com/assets/powered_by_white-7ee4327cfbe5d678897edf6b6c5dd30f.png">
             <br>
             <br>

            <button id="loginButton" class="button button-large button-positive" ng-click="facebookLogin()">
                <i class="icon ion-social-facebook"></i>
                &nbsp;Login with Facebook
            </button>


    </ion-content>
    </div>
</ion-view>