
<div class="tabs-striped row" id="mainTabDiv">
  <div class="tabs" ng-class="{ active:tab.isSet(1)}">
    <a href ng-click="tab.setTab(1)">Song Feed</a>
  </div>
  <div class="tabs" ng-class="{ active:tab.isSet(2) }">
    <a href ng-click="tab.setTab(2)">Favorites</a>
  </div>
  <div class="tabs" ng-class="{ active:tab.isSet(3) }">
    <a href ng-click="tab.setTab(3)">Search & Share</a>
  </div>  
</div>


 
<!--   <ul class="nav nav-pills">
    <li ng-class="{ active:tab.isSet(1) }">
      <a href ng-click="tab.setTab(1)">Song Feed</a>
    </li>
    <li ng-class="{ active:tab.isSet(2) }">
      <a href ng-click="tab.setTab(2)">Favorites</a>
    </li>
    <li ng-class="{ active:tab.isSet(3) }">
      <a href ng-click="tab.setTab(3)">Search & Share</a>
    </li>
  </ul> -->

<!-- <div class="row"> -->