
<form class="row" id="searchForm">
      <button ng-click="searchSoundCloud(searchText)" type="submit" class="btn btn-default col-sm-1" id="searchButton"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
       <input type="text" name="searchString"  placeholder="Search by artist and/or track name" id="searchBar" class='col-sm-10' ng-model="searchText">
</form>  

<div class="mainDiv searchDiv">
  <div class="list" ng-repeat="track in tracks">
      <ion-item class="item item-thumbnail-left">
        <img src={{track.artwork_url}}>
        <p><span class="searchTitle"><strong>{{track.title}}</strong></span><br>{{track.user.username}} <br>{{track.duration | millSecondsToTimeString}}<br>{{track.playback_count | number}} plays</p> 
        <div class="fandsButtonRow row">    

          <heart url="{{ track.permalink_url }}" picUrl="{{ track.artwork_url }}" uploader="{{ track.user.username }}" title="{{ track.title }}" trackId="{{ track.id }}" tcid="{{ user.tcid }}" class="col"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></heart>
          <play link="{{ track.permalink_url }}" artUrl="{{ track.artwork_url }}" uploader="{{ track.user.username }}" title="{{ track.title }}" trackId="{{ track.id }}" playlist= "songSearch" class="col"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></play>
          <share-button url="{{ track.permalink_url  }}" picUrl= "{{ track.artwork_url }}"  uploader="{{ track.user.username }}" title="{{ track.title }}" trackId="{{ track.id }}" class="col"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></share-button>
        </div>
      </ion-item>
  </div>
</div>


 
