<ion-modal-view>
  <ion-content>
  <div id="shareForm">
    <div class="buttons" id="closeShareFormDiv" >
      <button class="button button-clear" ng-click="closeShareForm()">Close</button>
    </div>
    <h4 id="shareSong" class="title"><strong>Share </strong><span id="shareSongTitle"></span></h4>
  <div class="yourFriendsDiv">
<!--     <ion-list>
    <ion-item item-checkbox ng-repeat="friend in friends | orderBy:'username'">
        {{friend.username}}
    <label class="checkbox">
       <input type="checkbox">
     </label>
      </ion-item>
    </ion-list> -->
<ul class="list" ng-repeat="friend in friends | orderBy:'username'">

  <li class="item item-checkbox">
    {{friend.username}}
     <label class="checkbox shareCheckboxes checkbox-royal">
       <input type="checkbox">
     </label>
  </li>


</ul>

  </div>
    <button class="button button-block button-royal">
      Share
    </button>
  </div>
  </ion-content>
</ion-modal-view>