<ion-modal-view>
    <ion-content>
		<div class="list card cardDiv">
			<div class="row">
			  <div class="item item-avatar col-90">
			    <img id="songCardImg" src={{currentSong.img}}>

			    <h2>{{currentSong.title}}</h2>

			    <p>{{currentSong.uploader}}</p>
			  </div>
			  <div class="buttons col-10 closeSongInfo">
<!-- 
			  ion-android-arrow-dropdown -->

		
			      <button class="button button-clear" ng-click="closeSongInfo()"><span class="glyphicon glyphicon-chevron-down"></span></button>
			   </div>
			 	 </div>

			  <div class="item item-image">
			    <img src={{currentSong.picurl}}>
			  </div>

			<div id="volumeDiv" class="row">
				 <input id="volumeSlider" ng-change="setVolume(volume)" min="0" max="1" value=".8" step="0.01" type="range" ng-model="volume" class="col-90"/>	
				<span ng-if="volume == 0"class="col-10 glyphicon glyphicon-volume-off volumeGlyphs"></span>
				<span ng-if="volume > 0 && volume < .5" class="col-10 glyphicon glyphicon-volume-down volumeGlyphs"></span>	
				<span ng-if="volume >= .5" class="col-10 glyphicon glyphicon-volume-up volumeGlyphs"></span>				
			</div>
		</div>

  </ion-content>
</ion-modal-view>