<ion-modal-view>
	<ion-content>
	<div id="updateUsernameDiv">
			<br><br>
<!-- 			<div> -->
			<h3>Welcome {{user.first_name}}<br>please choose a username:</h3>
			<div ng-controller="UsernameController">
			<form novalidate class="simple-form">
				<input type="text" ng-model="username" /><br />
				<button id="usernameSubmitButton" type="button button-block button-positive" ng-click="update(username)" value="Save">SAVE</button>
			</form>
			<!--   <pre>form = {{user | json}}</pre>
			<pre>master = {{master | json}}</pre> -->
<!-- 			</div> -->

			</div>


	</div>
	</ion-content>
</ion-modal-view>